/* style for nav bar begins */

/* text style for header */
a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

/* Hover feature over nav bar links */
a:hover {
  text-decoration: underline;
}

/* Navr Bar style for layout, links should be aligned with one another using flex */

#navbar {
  display: flex;
  justify-content: space-between;
  word-spacing: 15px;
}

/* svg image sizing for spacing */
#right svg {
  width: 20px;
  border-radius: 50%;
}

/* Style for main section begins */

/* logo height vh stands for `viewport height`  */

#logo {
  text-align: center;
  padding-top: 200px;
}

#twobt {
  justify-content: center;
}

#feild {
  border-radius: 16px;
  border-color: #f2f2f2;
  border-style: solid;
  margin: auto;
  padding: 2px;
  margin-bottom: 2vw;
  width: 50%;
  max-width: 584px;
}

/* Footer style begins */
#footer {
  background-color: #f2f2f2;
  width: 100%;
  bottom: 0;
  height: 5%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-decoration-color: #f2f2f2;
}

#bottomright {
  justify-content: space-evenly;
}

/* footer style ends */

#googlelogo {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 30px;
}

#cameralogo {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

/* icons in search bar */
#icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: 0.5rem;
  color: #9aa0a6;
  fill: currentColor;
}

/* search bar styling */

#search-area {
  display: flex;
  padding: 2px;
  border-style: solid;
  border-radius: 20px;
  max-width: 35rem;
  margin: auto;
  margin-bottom: 2vw;
  width: auto;
  border-color: #f1f1f1;
  justify-content: space-between;
}

/* gives 3d effect when hovering over the search feild */
#search-area :hover {
  box-shadow: #6d6f70;
}

/* Takes away text box border for a seamless effect */
#search-box:focus {
  outline: none;
}

#search-box {
  height: 34px;
  background-color: transparent;
  color: #6d6f70;
  width: 450px;
  border: transparent;
  font-size: 16px;
}

#bottomleft {
  word-spacing: 10px;
}

#bottomright {
  word-spacing: 10px;
}

#leaf {
  float: left;
  padding-right: 2px;
  padding-top: 3px;
}

#midfoot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 105px;
}
